{% extends "../base.html" %}

{% block content %}
    <style>
        .hover-item {
            background-color: #FFF;
        }

        .hover-item:hover {
            cursor: pointer;
            background-color: #ccc;
        }
    </style>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h1">Dashboard</h1>
    </div>
    <h3>Countries List</h3>
    <div class="row">            
        <div class="col">
            <table class="table">            
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody>                
                    {% for code, country in dict_list1.items %}                                
                        <tr data-href='{{code}}' class="hover-item">
                            <th scope="row" class="text-capitalize">{{country}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">            
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody>                
                    {% for code, country in dict_list2.items %}                                
                        <tr data-href='{{code}}' class="hover-item">
                            <th scope="row" class="text-capitalize">{{country}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">            
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Country</th>
                    </tr>
                </thead>
                <tbody>                
                    {% for code, country in dict_list3.items %}                                
                        <tr data-href='{{code}}' class="hover-item">
                            <th scope="row" class="text-capitalize">{{country}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $(document.body).on("click", "tr[data-href]", function () {
                window.location.href = this.dataset.href;
            });
        });
    </script>
{% endblock content %}