{% extends "../base.html" %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h1">Dashboard</h1>
        </div>
        <h3>Global Data</h3>
        <div class="row">
            <div class="col">
                <div class="card w-100">
                    <div class="card-body">
                      <h5 class="card-title">Confirmed</h5>
                      <p class="card-text">{{positif}} Cases</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card w-100">
                    <div class="card-body">
                      <h5 class="card-title">Recovered</h5>
                      <p class="card-text">{{sembuh}} Cases</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card w-100">
                    <div class="card-body">
                      <h5 class="card-title">Deaths</h5>
                      <p class="card-text">{{meninggal}} Cases</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}