{% extends "../base.html" %}
{% load static %}

{% block content %}
    <center>
        <hr> <p class="h3">About Dev</p> <hr>        
        <div style="width: 60%;">
            My name is Hariz Sufyan Munawar a 16 y/o student currently studying Software Engineering. I live in Bandung, West Java. I mostly do backend stuff. If you told me to do frontend you'll most likely get a lame and plain design. I suck at anything that is remotely artistic. Honestly I don't know what to put in this anymore so I just gonna say random stuff. JoJo Stone Ocean is the best JoJo part. Phantom Blood is extremely boring. Dojyaaaaannn~. Javascript is still confusing for me. 253850. <a href="https://discord.gg/NMaYkxw">Join</a> our discord server, we do fun stuff there. Please stay safe during this pandemic. There are over 700 programming language, but take this with a grain of salt since I just search "Programming Fun Fact" and didn't do any further research.
            <h5 class="mt-5">About Web</h5>
            This is just a simple web built with Django, I am sincerely apologize for the lack of design lol. This is just a small project that I use to test my knowledge about Django. This web is meant to show COVID-19 case from all   around the world. Right now this web stil serving data using text as I haven't understand data visualization yet. So maybe I'll comeback to this project again when I have enough knowledge in data visualization
        </div>

        <div class="mb-3">
            <hr>
            <h3 class="text-product-bold mb-3">Find Me On</h3>
            <a href="https://github.com/harizMunawar"><img src="{% static 'djcovid/icon/github.svg' %}" width="36" height="36" class="mr-2"></a>
            <a href="mailto:munawarhariz@gmail.com"><img src="{% static 'djcovid/icon/gmail.svg' %}" width="36" height="36" class="mr-2"></a>
            <a href="https://www.linkedin.com/in/hariz-munawar-2247531a0/"><img src="{% static 'djcovid/icon/linkedin.svg' %}" width="36" height="36" class="mr-2"></a>
            <a href="https://www.reddit.com/user/harizmunawar"><img src="{% static 'djcovid/icon/reddit.svg' %}" width="36" height="36" class="mr-2"></a>
            <a href="https://web.facebook.com/hariz.munawar.39"><img src="{% static 'djcovid/icon/facebook.svg' %}" width="36" height="36"></a>
        </div>
    </center>
{% endblock content %}