{% extends "../base.html" %}
{% load static %}

{% block content %}
    <center>
        <hr><p class="h3">Error 404: Page Not Found</p><hr>        
        
        <div class="mt-5">
            Oops did you try to insert the URL manually? If so, that URL maybe not available<br>
            If this is happened after you press any button please tell that to me <a href="https://github.com/harizMunawar/django-corona/issues">here</a><br>
            In the meantime please go back to a valid page <a class="btn btn-sm btn-dark" href="/">OK</a>
        </div>
    </center>
{% endblock content %}