{% extends "base.html" %}

{% block content %}
<section class="flex justify-center h-screen mt-10">
    <table class="table-auto">
        <thead>
            <tr>
            <th class="px-4 py-2 capitalize">{{country}} COVID-19 CASES</th>
            <th class="px-4 py-2">Jumlah</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="border px-4 py-2">Positif</td>
            <td class="border px-4 py-2">{{positif}}</td>
            </tr>
            <tr class="bg-gray-100">
            <td class="border px-4 py-2">Sembuh</td>
            <td class="border px-4 py-2">{{sembuh}}</td>
            </tr>
            <tr>
            <td class="border px-4 py-2">Meninggal</td>
            <td class="border px-4 py-2">{{meninggal}}</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock content %}